/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_main.scss */
html {
  height: 100%;
}

/* line 9, ../sass/_main.scss */
body {
  height: 100%;
  margin: 0;
  background: #09091a;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

/* line 16, ../sass/_main.scss */
h2 {
  padding: 10px 0;
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

/* line 23, ../sass/_main.scss */
#wrapper {
  height: 100%;
}

/* Sudoku Game Board */
/* line 28, ../sass/_main.scss */
#sudokuBoard {
  margin: 0 auto;
  height: 100%;
}

/* line 32, ../sass/_main.scss */
.sudokuSection {
  width: 33.3%;
  height: 33.3%;
  box-sizing: border-box;
  text-align: center;
  float: left;
}

/* line 39, ../sass/_main.scss */
.section {
  height: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  text-align: center;
}

/* line 45, ../sass/_main.scss */
.slot {
  width: 33.3%;
  height: 33.3%;
  border: 2px solid #09091a;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
  padding: 18px 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Congratulations Box */
/* line 59, ../sass/_main.scss */
#congrats {
  margin: 0 auto;
  height: 100%;
  max-width: 500px;
  text-align: center;
  display: none;
}
/* line 66, ../sass/_main.scss */
#congrats p {
  margin: 38px 0;
  font-size: 30px;
}

/* line 71, ../sass/_main.scss */
#replay {
  color: #FFFFFF;
  background: #1fbad6;
  width: 100%;
  height: 50px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
}
